{% extends "base.html" %}
{% load static %}
{%block include %}
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'posts/post.css' %}">
{% endblock include %}
{% block content %}
            <br>
            <div class="new-post">
                <a href="{% url 'home' %}" class="btn btn-outline btn-outline-primary float-left">Posts</a>
            </div>
            <center><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 " href="{% url 'delete' object.id %}">Delete</a> 
            <div class="card posts shadow-lg p-3 mb-5 bg-white rounded border border-primary">
                <div class="row">
                <div class="col-sm-9">
                <div>
                    <div class="card-body">
                        {{ post.question|safe }}
                    </div>
                    </div>
                </div>
                <div class=" col-3 p-4 ">
                    <span  class="card-title fs-3 post-uname" style="text-decoration: none;">{{ post.author }}</span> 
                    <img class="userprofile " src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="30" height="30"  alt="profile"/>
                    <a href="{% url 'detailed' post.id %}"><img class="post-update" src="{% static 'icons/three-dots-vertical.svg' %}"></a>
                </div>
            </div>
{% endblock %}