{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image" sizes="16x16">
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

          <!--navbar to naviagte-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <img class="logo" src="{% static 'images/bmslogo.png' %}" alt="logo">
            </li>

            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
            <li>
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </li>
        </ul>
        <div class="profile">
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
            </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">profile</a>
                  <a class="dropdown-item" href="#">profile</a>
                  <div class="dropdown-divider"></div>
                   <form method="post" action="{{ 'logout' }}">
                    {% csrf_token %}
                    <button class="dropdown-item logout" type="submit">Sign Out</button>
                    </form>
                </div>
              </li>
        </div>
        </div>
      </nav>


    <div class="pageBody">
      <div class="row">
        <div class="column left pageLeftbody">
            <!--classes -->
            <div class="card shadow-lg p-3 mb-5 bg-white rounded classes" style="width: 18rem;">
                <img src="{% static 'images/bmslogo.png' %}" class="card-img-top" alt="class">
                    <div class="card-body">
                        <p class="card-text">
                        Subject Sem
                            <ul class="classinfo">
                                <li>
                                    <a href="">Classes</a>
                                </li>
                                <li>
                                    <a href="">Assignment</a>
                                </li>
                                <li>
                                    <a href="">Notes</a>
                                </li>
                            </ul>
                        </p>
                    </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded classes" style="width: 18rem;">
                <img src="{% static 'images/bmslogo.png' %}" class="card-img-top" alt="class">
                    <div class="card-body">
                        <p class="card-text">
                            Subject-name
                            Semister
                            <ul class="classinfo">
                                <li>
                                    <a href="">Classes</a>
                                </li>
                                <li>
                                    <a href="">Assignment</a>
                                </li>
                                <li>
                                    <a href="">Notes</a>
                                </li>
                            </ul>
                        </p>
                    </div>
            </div>




        </div>
          <!-- Notification Section -->
        <div class="column right border-left">
          <u class="recentViews">Notifications</u>
          <div class="recents shadow p-3 mb-5 bg-white rounded">
            <a href="">Hello</a>
          </div>
          <div class="recents shadow p-3 mb-5 bg-white rounded">
            <a href="">Hello</a>
          </div>
          <div class="recents shadow p-3 mb-5 bg-white rounded">
            <a href="">Hello</a>
          </div>
          <div class="recents shadow p-3 mb-5 bg-white rounded">
            <a href="">Hello</a>
          </div>
        </div>
      </div>
    </div>


    <!--<a href="/accounts/google/login" type="button" class="btn btn-primary">Login</a>-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
