{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image" sizes="16x16">
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

          <!--navbar to naviagte-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-bottom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <img class="logo" src="{% static 'images/bmslogo.png' %}" alt="logo">
            </li>
            <li>
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </li>
        </ul>
        <div class="profile">
            <li class="nav-item dropdown dropdown-header">
                <div class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="userprofile" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="50" height="50"  alt="profile"/>
                </div>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'profile' user.username %}"><img src="{% static 'icons/person-fill.svg' %}"> Profile</a>
                  <div class="dropdown-item"><img src="{% static 'icons/cloud-check-fill.svg' %}"> {{ user.email.upper|cut:'@BMSIT.IN' }}</div>
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item logout" href="{% url 'logout' %}"><img src="{% static 'icons/box-arrow-right.svg' %}"> Sign Out</a>
                </div>
              </li>
        </div>
        </div>
      </nav>
    <div class="pageBody">
      <div class="row">
        <div class="column left pageLeftbody">
            <!--classes -->
            <div class="card shadow-lg p-3 mb-5 bg-white rounded classes" style="width: 18rem;">
                <img src="{% static 'images/bmslogo.png' %}" class="card-img-top" alt="class">
                    <div class="card-body">
                        <p class="card-text">
                        <a href="{% url 'subjects' user.username %}">Subject </a>
                        <a href="">Semister </a> 
                            <ul class="classinfo">
                                <li>
                                    <a href="{% url 'classes' user.username %}">Classes</a>
                                </li>
                                <li>
                                    <a href="{% url 'assignments' user.username %}">Assignment</a>
                                </li>
                                <li>
                                    <a href="{% url 'notes' user.username %}">Notes</a>
                                </li>
                            </ul>
                        </p>
                    </div>
            </div>
            <div class="card shadow-lg p-3 mb-5 bg-white rounded classes" style="width: 18rem;">
                <img src="{% static 'images/bmslogo.png' %}" class="card-img-top" alt="class">
                    <div class="card-body">
                        <p class="card-text">
                            Subject-name
                            Semister
                            <ul class="classinfo">
                                <li>
                                    <a href="">Classes</a>
                                </li>
                                <li>
                                    <a href="">Assignment</a>
                                </li>
                                <li>
                                    <a href="">Notes</a>
                                </li>
                            </ul>
                        </p>
                    </div>
            </div>




        </div>
          <!-- Notification Section -->
        <div class="column right border-left">
          <u class="recentViews">Notifications</u>

          <!-- Toast Notifications -->
            <div class="toast" data-autohide="false">
            <div class="toast-header">
            <img src="{% static 'icons/bell-fill.svg'%}" class="rounded mr-2" alt="notify">
              <strong class="mr-auto text-primary">Toast Header</strong>
              <small class="text-muted">5 mins ago</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
              Some text inside the toast body
            </div>
          </div>
          <div class="toast" data-autohide="false">
            <div class="toast-header">
            <img src="{% static 'icons/bell-fill.svg'%}" class="rounded mr-2" alt="notify">
              <strong class="mr-auto text-primary">Toast Header</strong>
              <small class="text-muted">5 mins ago</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
              Some text inside the toast body
            </div>
          </div>
          <div class="toast" data-autohide="false">
            <div class="toast-header">
            <img src="{% static 'icons/bell-fill.svg'%}" class="rounded mr-2" alt="notify">
              <strong class="mr-auto text-primary">Toast Header</strong>
              <small class="text-muted">5 mins ago</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
              Some text inside the toast body
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>


    <!--<a href="/accounts/google/login" type="button" class="btn btn-primary">Login</a>-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  $('.toast').toast('show');
});
</script>