{% extends 'base.html' %}
{% load static %}
    {% block include %}
        <title>Update profile</title>
        <link rel="stylesheet" href="{% static 'students/profile.css' %}">
    {% endblock include %}
    {% block content %}

    <div class="profile-display">
        <img class="userprofile center" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile"/><br>
        <form methos='post'>
            <fieldset disabled>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Username</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ user.username }}">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Email</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ user.email }}">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Name</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ details.name }}">
                </div>
                </fieldset>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Branch</label>
                    <select class="form-control form-control-lg" name="classbranch" aria-label="Branch" placeholder="Branch">
                    <option >Select Branch</option>
                    {% for val in branch%}
                        <option value="{{ val.name }}">{{ val.fullname}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Semester</label>
                <select class="form-control form-control-lg" name="classsemester" aria-label="Semester">
                    <option >Select Semester</option>
                        {% for val in semester%}
                        <option value="{{ val.name }}">{{ val.fullname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Section</label>
                <select class="form-control form-control-lg" name="classsection" aria-label="Section">
                    <option >Select Section</option>
                    {% for val in section %}
                        <option value="{{ val.name }}">{{ val.fullname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary ">Update</button>
        </form>
    </div>

    {% endblock content %}
