{% extends "base.html" %}
{% load static %}
{%block include %}
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
{% endblock include %}
{% block content %}
        <div class="card mb-3 posts ">
            <div class="card-header bg-transparent ">
                <img class="userprofile" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="30" height="30"  alt="profile"/>
                </span  class="card-title fs-3 post-uname" style="text-decoration: none;">{{ post.author }}</>
                <a href="{% url 'detailed' post.id %}"><img class="post-update" src="{% static 'icons/three-dots-vertical.svg' %}"></a>
            {% if object.author == user%}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete' object.id %}">Delete</a>
                {% endif %} 
            </div>
                <div class="card-body text-secondary post-content" >                   
                    <p class="card-text">{{ post.question|safe }}</p>
                </div>
            <div class="card-footer bg-transparent ">
                <P class="blockquote fs-6"><span title="Source Title">{{ post.date_posted|date:'F d Y' }}</span></P>
            </div>
        </div>
{% endblock %}