.posts {
    width: 50em;
    min-height: 0em;
    margin: 1em 25em;
}

.post-uname {
    margin: 10px;
}

.post-update {
    float: right;
}

.new-post {
    margin: 1em 50px;
}

.question {
    padding: 0 0 0 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.form-popup {
    display: none;
    position: fixed;
    top: 12em;
    right: 15px;
    border: 1px solid #f1f1f1;
    width: 30em;
}

.qaupdate{
    padding: 10px;
}

.logout{
    font-size: 20px;
    width: 10px;
}